[project]
	description = Repository contains examples when using fabric
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Jenkins
	owner = group Registered Users
	owner = group user/James Rawlings (rawlingsj)
[access "refs/for/refs/*"]
	read = group Jenkins
	read = group user/James Rawlings (rawlingsj)
	push = group Jenkins
	push = group user/James Rawlings (rawlingsj)
	label-Code-Review = -2..+2 group Jenkins
	label-Code-Review = -2..+2 group user/James Rawlings (rawlingsj)
	label-Verified = -1..+1 group Jenkins
	label-Verified = -1..+1 group user/James Rawlings (rawlingsj)
	rebase = group user/James Rawlings (rawlingsj)
	removeReviewer = group user/James Rawlings (rawlingsj)
	submit = group Jenkins
	submit = group user/James Rawlings (rawlingsj)
[access "refs/heads/*"]
	read = group user/James Rawlings (rawlingsj)
	create = group user/James Rawlings (rawlingsj)
	push = +force group user/James Rawlings (rawlingsj)
	pushMerge = group user/James Rawlings (rawlingsj)
[access "refs/tags/*"]
	push = +force group user/James Rawlings (rawlingsj)
	pushTag = group user/James Rawlings (rawlingsj)
	pushSignedTag = group user/James Rawlings (rawlingsj)
